@import "vars";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}

h1, h2, h3, h4, h5, h6, p, button, span, ul, li {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p, ul, li {
  color: $black;
}

h1 {
  font-size: 3rem;
}

ul, li {
  list-style-type: none;
}